*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    background: rgb(54,77,204);
    background: linear-gradient(180deg, rgba(54,77,204,1) 0%, rgba(9,23,98,1) 100%);
    color: rgb(255,255,255);
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.avatar{
    width: 80px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2{
    font-size: 16px;
}

.profile{
    margin-top: 20px;
    text-align: center;
}

.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.social img{
    width: 33px;
}

.links-list{
    list-style: none;
}

.links-list li{
    margin: 10px 20px;
}

.links-list li a{ 
    /*Visualmente poderíamos ter feito essa regra só pro li, porém, queremos que a caixa toda seja um botão e não só o texto, então, devemos adicionar o seletor a na regra*/

    display: block;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    color: rgba(54,77,204,1);
    text-decoration: none;
    font-weight: bold;
}

.links-list li a span{
    color: grey;
    display: block;
    margin-top: 5px;
    font-weight: 100;
}

.links-ContactList{
    list-style: none;
    margin-top: 50px;
}

.links-ContactList li{
    margin: 10px 20px;
}

.links-ContactList li a{
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px; 
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    color: rgba(54, 77, 204, 1);
    text-decoration: none;
    font-weight: bold;
}

.links-ContactList li a span{
    display: block;
    color: grey;
    margin-top: 5px;
    font-weight: 100;
}

.footer{
    padding: 10px;
    text-align: center;
    color:rgb(255, 255, 255);
}