/*Uma boa prática de programação para CSS é colocar as regras na ordem que aparece no HTML*/

body{
    background: #FFFFFF;  
    /*border: 2px solid black;*/  
    /*Aqui em cima estilizamos o background do body, abaixo vamos estilizar o texto*/

    font-family: 'Raleway', sans-serif;
    color: rgb(34, 34, 34);

    margin: 0;
} 

.container{
    width: 900px;
    margin: 0 auto;
}

.profile{
    text-align: center;
    margin-bottom: 35px;
}

.fotoPrincipal{

    width: 180px;
    border: 2px solid #FFFFFF; /*shorthand*/
    /*border-radius: 50%;*/
    border-radius: 50px 0px 50px 0px;  
    /*Arredondando cada lado de um jeito*/

    /*border-top: dotted;
    border-bottom: dashed;*/
    
    /*border-width: 5px;
    border-style: solid;
    border-color: black;*/

    /* Existe a possibilidade de utilizarmos somente a propriedade border, dessa forma conseguimos manipular 3 características de uma só vez,esse tipo de propriedade é chamado de "shorthand", porém, nada impede de fazer uma de cada vez como fizemos acima.*/

    margin: 30px 30px 0px 30px;
    padding: 10px;
     
    /*left: 450px; top: 20px; position: absolute; */
    /* Provavelmente terá uma aula sobre isso mais a frente, mas precisava modificar isso agora*/

    box-shadow: 0px 0px 12px rgb(128, 123, 123);   
}

h1{
    margin-top: 10px;
    margin-bottom: 0px;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 35px;
}

h2{
    margin-top: 0px;
    font-style: italic;
    color: rgb(73, 73, 73);
    font-weight: 100;
    letter-spacing: -1px;
}

h4{
    margin-bottom: 5px;
}

h5{
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 100;
    font-style: italic;
}

p{
    line-height: 25px;
    margin-top: 0;
}

.social-links{
    text-decoration: none;
}

.social-icons{
    width: 35px;
}

.github{
    margin: 0 15px 0 15px;
}

.jobs-list{
    list-style: none;
    padding-left: 20px;
}

.footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 40px;
    padding: 10px 0;
}