body{
    /*background: url(background2.jpg);*/
    background-image: url(background2.jpg);
    /*background-repeat: no-repeat;*/
    /*background-position: 0% 0%;*/
    background-position: right ;
    background-size: cover;
    background-attachment: fixed;
} 
