*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background-image: url("../image/background.png");
    background-size: cover;
    color: white;
}

.container{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.logo{
    width: 100px;
    margin-top: 60px;
}

h1{
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 3em;
}


h2{
    margin: 0 0 40px 0;
    font-size: 2em;
}

h3{
    margin: 10px 0 15px 0;
}

.boxText{
    display: block;
    width: 100%;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255); 
    padding: 10px;
    color: grey;
    font-size: 16px;
}


.button{
    width: 100%;
    background-color: #006CE0;
    color: white;
    margin: 20px 0 80px 0;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.button:hover{
    background-color: #015cbd;
}